.dashboard { margin-top: 85px; height: 670px;}
.dashboard .stepIndicator{  background: white; width: 726px; height: 51px; margin-left: 277px; border-radius: 50px; margin-top: -50px;}  
.dashboard .footer{height: 80px; background: #fff; margin-top: 535px;}